*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  font-family: 'Work Sans', sans-serif;
  --clr-denim: #045CB4;
  --clr-chestnut: #A33B29;
  --clr-magnolia: #EFE9F4;
  --clr-eerie-black: #171D1C;
  --clr-process-cyan: #08B2E3;
  --speed: 500ms;
  --small-items-height: 1.5rem;
}